.about-banner--container.contact-banner{
    padding: 7% 0;
}

.banner-img.contact-img{
    bottom: -90px;
}

.locate-contact{
    display: flex;
}
.contact{
    margin: 170px 5% 120px;
}
.container-contact{
    margin: 5%;
}

.phone-contact{
    margin: 50px auto;
    text-align: center;
}

.tel{
    padding: 50px 40px;
    border: 1px solid var(--text-color);
    border-radius: 2px;
}

.tel p, .tel p span{
    font-size: 1.1rem;
    font-family: 'Caudex';
}
.tel p{
    color: var(--text-color-big);
}
.tel span{
    color: #cb9734;
}

.send-contact--left{
    width: 100%;
    max-width: 700px;
}
.send-contact-right{
    width: 100%;
    max-width: 380px;
}
.send-form.form-contact{
    margin: 0;
}
.form-contact textarea{
    height: 150px;
}

.form-contact input,
.form-contact textarea{

    font-size: 1rem;
    font-family: 'Lato';
    background: #F3F5F2;
    border: 2px solid rgba(201, 201, 201, 0.1);
}
.form-contact input:focus,
.form-contact textarea:focus{
    outline: 1px solid var(--text-color-big);
}

.form-contact button{
    width: 97%;
    margin: 20px 0;
    float: left !important;
    background: #cb9734;
}


.text-send--contact{
    text-align: justify;
}

.text-send--contact h4{
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    font-family: "Caudex";
    color: #325f3e;
}

.text-send--contact span{
    font-size: 14px;
    color: var(--text-color);
}
.send-form--input{
    justify-content: space-between !important;
}
.form-input--text{
    width: 100%;
    max-width: 350px;
    display: flex;
    align-self: center;
}
@media screen and (min-width: 900px) {
    .locate-contact{
        display: flex;
        justify-content: space-between;
    }

    .tel p, .tel p span{
        font-size: 26px;
    }
    .send-contact{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 899px){
    .contact{
        margin: 150px 2% 120px;
    }
    .locate-contact{
        display: block;
        width: 100%;
    }
    .send-form--input{
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .form-input--text{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}